ion-content {
    --ion-background-color: #f5f5f5;
}

@media only screen and (max-width: 500px) {
    .but {
        font-size: 100%;
        display: block;
        width: 70%;
        height: 10%;
        padding: 1%;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
    button {
        margin-bottom: 1px;
    }
    .buttons {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 500px) {
    .but {
        font-size: 100%;
        display: block;
        width: 60%;
        height: 10%;
        margin-left: 20%;
        margin-right: 20%;
    }
    button {
        margin-top: 3px;
    }
}

@media only screen and (min-width: 1200px) {
    .but {
        font-size: 200%;
        display: block;
        width: 30%;
        height: 10%;
        padding: 10px;
        margin-top: 20px;
        margin-left: 35%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .navbar {
        position: fixed;
        bottom: 0;
        z-index: 1;
        display: inline-block;
        padding: 0;
        background-color: #673ab7;
        font-size: 80%;
        color: white;
        text-align: center;
        width: 100%;
    }
    .navbar button {
        display: inline-block;
    }
}

@media only screen and (min-width: 500px) {
    .navbar {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1;
        display: inline-block;
        padding: 0;
        background-color: #673ab7;
        font-size: 100%;
        color: white;
        text-align: center;
    }
}
