<nav>
    <div class="navbar">
        <button mat-raised-button routerLink="/menu" color="primary">Menu</button>
        <button mat-raised-button routerLink="/tables" color="primary">Tables</button>
        <button mat-raised-button routerLink="/schedule" color="primary">Schedule</button>
        <button mat-raised-button routerLink="/team" color="primary">Team</button>
        <button mat-raised-button routerLink="/transfers" color="primary">Transfers</button>
    </div>
</nav>
<router-outlet></router-outlet>