<ion-content>
    <!--
        <button mat-raised-button (click)="removePlayer()">TEST</button>
        <mat-list style="overflow-y: auto;">
            <mat-list-item *ngFor="let player of players">
                <div mat-line>{{player.Name}}</div>
                <div mat-line> {{player.Surname}} </div>
            </mat-list-item>
        </mat-list> -->

    <div class="league">
        <p>Liga</p>
        <mat-select (selectionChange)="leagueChanged($event)" disableRipple>
            <mat-option value="Bundesliga">Bundesliga</mat-option>
            <mat-option value="Premier League">Premier League</mat-option>
        </mat-select>
    </div>
    <div id="test">

    </div>
    <mat-list id="bundesligaTable" style="overflow-y: auto;">
        <mat-list-item *ngFor="let Bclub of BundesligaTable">
            <div mat-line>{{Bclub.Name}}</div>
            <div mat-line> {{Bclub.Points}} </div>
            <div mat-line> {{Bclub.Played}} </div>
            <div mat-line> {{Bclub.Scored_Goals}} </div>
            <div mat-line> {{Bclub.Lost_Goals}} </div>
            <div mat-line> {{Bclub.Wins}} </div>
            <div mat-line> {{Bclub.Lost}} </div>
            <div mat-line> {{Bclub.Draws}} </div>
        </mat-list-item>
    </mat-list>
    <mat-list id="premierLeagueTable" style="overflow-y: auto;">
        <mat-list-item *ngFor="let PLclub of PremierLeagueTable">
            <div mat-line>{{PLclub.Name}}</div>
            <div mat-line> {{PLclub.Points}} </div>
            <div mat-line> {{PLclub.Played}} </div>
            <div mat-line> {{PLclub.Scored_Goals}} </div>
            <div mat-line> {{PLclub.Lost_Goals}} </div>
            <div mat-line> {{PLclub.Wins}} </div>
            <div mat-line> {{PLclub.Lost}} </div>
            <div mat-line> {{PLclub.Draws}} </div>
        </mat-list-item>
    </mat-list>
</ion-content>
