*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ion-content {
    width: 100%;
    height: 100vh;
    --ion-background-color: #87CEFA;
}

.league {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.league p {
    width: 40%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    float: left;
}

.league mat-select {
    width: 50%;
    height: 80%;
    margin-top: 5%;
    border-bottom: 1px solid black;
    margin-right: 10%;
    float: left;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.results p {
    width: 40%;
    height: 100%;
    font-size: 20px;
}

#tableHeader{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #1e1e1e;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#bundesligaTable{
    display: none;
    width: 100%;
    float: left;
}

#premierLeagueTable{
    display: none;
    width: 100%;
    height: auto;
    float: left;
}

.listItem{
    width: 100%;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #1e1e1e;
}

table{
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .league p {
        font-size: 20px;
    }

    .results p {
        font-size: 150%;
        margin-right: auto;
    }
}
