<ion-content>
    <div>
        <div class="block">
            <div class="clubInfo">
                <div class="row">
                    <p>Klub</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Manager</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Budżet</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Tygodniówki</p>
                    <p>00</p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="playerInfo">
                <div class="row">
                    <p>Ocena</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Potencjał</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Defensywa</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Ofensywa</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Podania</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Um. bramkarskie</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Imie</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Nazwisko</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Klub</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Kraj</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Data urodzenia</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Długość kontraktu</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Wartość</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Pensja</p>
                    <p>00</p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="Players">
                <p>Imię</p>
                <p>Nazwisko</p>
                <p>Pozycja</p>
                <p>Ocena</p>
                <p>Skład</p>
            </div>
        </div>
        <div class="block">
            <div class="buttons">
                <button mat-raised-button color="primary">Negocjuj</button>
                <button mat-raised-button color="primary">Wyczyść</button>
                <button mat-raised-button color="primary">Zamień</button>
            </div>
        </div>
    </div>
</ion-content>