<ion-content>
    <div>
        <div class="block">
            <div class="clubInfo">
                <div class="row">
                    <p>Klub</p>
                    <p id="clubName">00</p>
                </div>
                <div class="row">
                    <p>Manager</p>
                    <p id="clubManager">00</p>
                </div>
                <div class="row">
                    <p>Budżet</p>
                    <p id="clubBudget">00</p>
                </div>
                <div class="row">
                    <p>Tygodniówki</p>
                    <p id="clubSalaryBudget">00</p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="playerInfo">
                <div class="row">
                    <mat-select (selectionChange)="playerChanged($event)" disableRipple>
                        <mat-option *ngFor="let player of players" [value]="player">
                            {{ player.Surname }}
                         </mat-option>
                    </mat-select>
                </div>
                <div class="row">
                    <p>Ocena</p>
                    <p id="Overall">00</p>
                </div>
                <div class="row">
                    <p>Potencjał</p>
                    <p id="Potential">00</p>
                </div>
                <div class="row">
                    <p>Defensywa</p>
                    <p id="Defense">00</p>
                </div>
                <div class="row">
                    <p>Ofensywa</p>
                    <p id="Offense">00</p>
                </div>
                <div class="row">
                    <p>Podania</p>
                    <p id="Passing">00</p>
                </div>
                <div class="row">
                    <p>Um. bramkarskie</p>
                    <p id="GK">00</p>
                </div>
                <div class="row">
                    <p>Imie</p>
                    <p id="Name">00</p>
                </div>
                <div class="row">
                    <p>Nazwisko</p>
                    <p id="Surname">00</p>
                </div>
                <div class="row">
                    <p>Klub</p>
                    <p id="Club">00</p>
                </div>
                <div class="row">
                    <p>Kraj</p>
                    <p id="Country">00</p>
                </div>
                <div class="row">
                    <p>Data urodzenia</p>
                    <p id="Birthday">00</p>
                </div>
                <div class="row">
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Długość kontraktu</p>
                    <p id="Contract">00</p>
                </div>
                <div class="row">
                    <p>Wartość</p>
                    <p id="Value">00</p>
                </div>
                <div class="row">
                    <p>Pensja</p>
                    <p id="Salary">00</p>
                </div>
                <div class="row">
                    <p>Pensja</p>
                    <mat-form-field>
                        <input matInput placeholder="pensja" class="inputText" (change)="NPsalaryUpdated($event)" id="NPsalary" type="number">
                    </mat-form-field>
                </div>
                <div class="row">
                    <p>Długość kontraktu</p>
                    <mat-form-field>
                        <input matInput placeholder="długość" class="inputText" (change)="NPcontractUpdated($event)" id="NPcontractLength" type="text">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="Players">
                <p>Imię</p>
                <p>Nazwisko</p>
                <p>Pozycja</p>
                <p>Ocena</p>
                <p>Skład</p>
            </div>
        </div>
        <div class="block">
            <div class="buttons">
                <button mat-raised-button color="primary" (click)="ExtendContract()">Negocjuj</button>
                <button mat-raised-button color="primary">Wyczyść</button>
                <button mat-raised-button color="primary">Zamień</button>
            </div>
        </div>
    </div>
    <nav>
        <div class="navbar">
            <button mat-raised-button routerLink="/menu" color="primary">Menu</button>
            <button mat-raised-button routerLink="/tables" color="primary">Tabele</button>
            <button mat-raised-button routerLink="/schedule" color="primary">Terminarz</button>
            <button mat-raised-button routerLink="/team" color="primary">Drużyna</button>
            <button mat-raised-button routerLink="/transfers" color="primary">Transfery</button>
        </div>
    </nav>
</ion-content>